.MoveController
  border-radius 50px
  width 50px
  height: 50px
  border 1px solid yellow
  position relative
  &__move
    position absolute
    width: 20px
    height: 20px
    border-radius 50px
    background mediumvioletred
    transition all 0.2s
.Screen
  &__ctrl
    position fixed
    bottom 0
    left 0
